* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --clock-size: 150px;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #68a4ff;
}

.clock {
    width: var(--clock-size);
    height: var(--clock-size);
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff url(clock.png);
    background-size: cover;
    border-radius: 50%;
    border-width: calc(var(--clock-size) * .0571);
    border-style: solid;
    border-color: #fff;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, .1),
                0 20px 20px rgba(0, 0, 0, .2),
                0 0 4px rgba(255, 255, 255, 1);
}

.clock::before {
    content: '';
    position: absolute;
    width: calc(var(--clock-size) * .0428);
    height: calc(var(--clock-size) * .0428);
    background: #848484;
    border: 2px solid #fff;
    z-index: 10;
    border-radius: 50%;
}

.hour, .min, .sec {
    position: absolute;
}

.hour, .hr {
    width: calc(var(--clock-size) * .4571);
    height: calc(var(--clock-size) * .4571);
}

.min, .mn {
    width: calc(var(--clock-size) * .5428);
    height: calc(var(--clock-size) * .5428);
}

.sec, .sc {
    width: calc(var(--clock-size) * .6571);
    height: calc(var(--clock-size) * .6571);
}
.hr, .mn, .sc {
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
}

.hr::before {
    content: '';
    position: absolute;
    min-width: 8px;
    width: calc(var(--clock-size) * .0228);
    height: calc(var(--clock-size) * .2285);
    background: #848484;
    z-index: 11;
    border-radius: 6px 6px 0 0;
}

.mn::before {
    content: '';
    position: absolute;
    min-width: 4px;
    width: calc(var(--clock-size) * .0114);
    height: calc(var(--clock-size) * .2571);
    background: #d6d6d6;
    z-index: 12;
    border-radius: 6px 6px 0 0;
}

.sc::before {
    content: '';
    position: absolute;
    min-width: 2px;
    width: calc(var(--clock-size) * .0057);
    height: calc(var(--clock-size) * .4285);
    background: #ff6767;
    z-index: 13;
    border-radius: 6px 6px 0 0;
}
 